.blocklyTreeRoot {
    min-width: 155px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #000;
}

a.viewLeft {
    padding: 3px 10px 3px 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

span.viewRight {
    padding: 3px 10px 3px 10px;
    background-color: #aaa;
    border: 1px solid #aaa;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

#tabRow > td {
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 18px;
    border-bottom: none;
}

pre.content {
    border: 1px solid #ccc;
    overflow: scroll;
}

#content_xml {
    resize: none;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    font-family: monospace;
    overflow: scroll;
}

td.tabon {
    border-bottom-color: #ddd !important;
    background-color: #ddd;
    color: #000;
    padding: 3px 19px 3px 19px;
    min-width: 80px;
}

td.taboff {
    cursor: pointer;
    color: #000;
    padding: 3px 19px 3px 19px;
    min-width: 80px;
}

td.taboff:hover {
    background-color: #eee;
}

.blocklyTreeIconOpen {
    margin: 8px;
}

.blocklyTreeIconClosedLtr {
    margin: 8px;
}

#side_code {
    padding: 5px;
    border: 0;
    background-color: #eee;
    height: 100%;
    width: 100%;
    resize: none;
}

#content_arduino {
    resize: none;
}

@font-face {
    font-family: myfont;
    src: url('font/xiongtuti.ttf');
}

html, body {
    height: 100%;
}

textarea {
    font-family: 'courier new';
}

body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 140%;
    margin-left: 5px;
    margin-right: 5px;
}

/* Tabs */
td.tabmin {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}

td.tabmax {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 99%;
    text-align: right;
}

td.tabcoyright {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 70%;
    text-align: center;
}

td.tabmode {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 25%;
    text-align: center;
}

td.tabspace {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 40%;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
}

td {
    padding: 0;
    vertical-align: center;
}

.content {
    visibility: hidden;
    margin: 0;
    padding: 1ex;
    position: absolute;
    direction: ltr;
}

#content_blocks {
    padding: 0;
}

.blocklySvg {
    border-top: none !important;
}

button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}

button.launch {
    border: 1px solid #d43;
    background-color: #d43;
    color: white;
}

button:active {
    border: 1px solid blue !important;
}

button:hover {
    box-shadow: 2px 2px 5px #888;
}

.right-top {
    width: 20px;
    height: 74px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 35%;
    background-image: url("/static/media/sidebar/sidebar.png");
}

.right-top:hover {
    width: 20px;
    height: 74px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 35%;
    background-image: url("/static/media/sidebar/sidebar_red.png");
}

.right-top2 {
    width: 20px;
    height: 74px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 35%;
    background-image: url("/static/media/sidebar/sidebar2.png");
}

.right-top2:hover {
    width: 20px;
    height: 74px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 35%;
    background-image: url("/static/media/sidebar/sidebar2_red.png");
}

div > span.blocklyTreeIcon.blocklyTreeIconNone {
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
    background: url('/static/media/mark/default.png') no-repeat;
    background-size: 100% auto;
}

.blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/default2.png') no-repeat;
    background-size: 100% auto;
}

#\:1 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/inout.png') no-repeat;
    background-size: 100% auto;
}

#\:1 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/inout2.png') no-repeat;
    background-size: 100% auto;
}

#\:2 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/ctrl.png') no-repeat;
    background-size: 100% auto;
}

#\:2 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/ctrl2.png') no-repeat;
    background-size: 100% auto;
}

#\:3 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/math.png') no-repeat;
    background-size: 100% auto;
}

#\:3 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/math2.png') no-repeat;
    background-size: 100% auto;
}

#\:4 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/text.png') no-repeat;
    background-size: 100% auto;
}

#\:4 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/text2.png') no-repeat;
    background-size: 100% auto;
}

#\:5 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/list.png') no-repeat;
    background-size: 100% auto;
}

#\:5 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/list2.png') no-repeat;
    background-size: 100% auto;
}

#\:6 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/logic.png') no-repeat;
    background-size: 100% auto;
}

#\:6 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/logic2.png') no-repeat;
    background-size: 100% auto;
}

#\:7 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/port.png') no-repeat;
    background-size: 100% auto;
}

#\:7 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/port2.png') no-repeat;
    background-size: 100% auto;
}

#\:8 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/comuni.png') no-repeat;
    background-size: 100% auto;
}

#\:8 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/comuni2.png') no-repeat;
    background-size: 100% auto;
}

#\:9 > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/store.png') no-repeat;
    background-size: 100% auto;
}

#\:9 > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/store2.png') no-repeat;
    background-size: 100% auto;
}

#\:a > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/sensor.png') no-repeat;
    background-size: 100% auto;
}

#\:a > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/sensor2.png') no-repeat;
    background-size: 100% auto;
}

#\:b > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/act.png') no-repeat;
    background-size: 100% auto;
}

#\:b > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/act2.png') no-repeat;
    background-size: 100% auto;
}

#\:c > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/monitor.png') no-repeat;
    background-size: 100% auto;
}

#\:c > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/monitor2.png') no-repeat;
    background-size: 100% auto;
}

#\:d > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/net.png') no-repeat;
    background-size: 100% auto;
}

#\:d > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/net2.png') no-repeat;
    background-size: 100% auto;
}

#\:f > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/var.png') no-repeat;
    background-size: 100% auto;
}

#\:f > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/var2.png') no-repeat;
    background-size: 100% auto;
}

#\:g > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/func.png') no-repeat;
    background-size: 100% auto;
}

#\:g > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/func2.png') no-repeat;
    background-size: 100% auto;
}

#\:h > div > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/factory.png') no-repeat;
    background-size: 100% auto;
}

#\:h > .blocklyTreeSelected > span.blocklyTreeIcon.blocklyTreeIconNone {
    background: url('/static/media/mark/factory2.png') no-repeat;
    background-size: 100% auto;
}

/* Floating box - 2017.5.16 */
.floating-box {
    float: left;
    width: 49.8%;
    height: 98.5%;
    border: 1px solid grey;
}

#monitor_log_area {
    width: 100%;
    height: 100%;
}

#build_log_area {
    width: 100%;
    height: 100%;
}